* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    font-family: 'Roboto', sans-serif;
}

html {
    overflow-x: hidden;
}

.container-flex {
    display: flex;
}

.container {
    max-width: 1024px;
    width: 100%;
    margin: 0 auto;
}

header, footer {
    background-color: #111;
    padding-top: 16px;
    color: #fff;
}

header {
    position: sticky;
    top: 0;
    left: 0;
    z-index: 1;
}

header .container h1 {
    font-size: 40px;
    font-weight: bold;
    color: #fff;
    margin-left: 50px;
}

header > .container,
footer > .container {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 16px;
}

nav {
    background-color: #0c3285;
    padding: 16px 0;
    display: none;
}

nav li {
    list-style: none;
    display: inline;
    margin: 16px;    
}

nav li a {
    font-size: 24px;
    font-weight: 500;
    color: #fff;
    text-transform: uppercase;
    text-decoration: none;
}

.menu-hamburguer {
    width: 32px;
    cursor: pointer;
}

.menu-hamburguer span {
    height: 1px;
    width: 100%;
    background-color: #ccc;
    display: block;
    margin-bottom: 4px;
    margin-right: 20px;
}

#carroussel-imagens img {
    height: 400px;
}

#sobre {
    background-color: #111;
    font-size: 18px;
    color: #fff;
}

#sobre img {
    max-width: 400px;
    margin-bottom: 24px;
    border-radius: 10px;
}

#sobre p {
    margin-left: 20px;
}

section {
    padding: 48px 0;
}

section h2 {
    margin-bottom: 16px;
    text-align: center;
    text-transform: uppercase;    
}

.lista-de-cursos {
    flex-wrap: wrap;
}

.lista-de-cursos li {
    max-width: 30%;
    margin-bottom: 24px;
}

.lista-de-cursos li img {
    max-width: 100%;
    border-radius: 10px;
}

.lista-de-cursos h3 {
    margin: 16px 0;
}

button {
    display: block;
    width: 40%;
    padding: 8px 0;
    border: none;
    background-color: #0c3285;
    color: #fff;
    font-size: 16px;
    font-weight: bold;
    font-style: italic;
    cursor: pointer;
    border-radius: 6px;
}

button:hover {
    background-color: #1d5add;
}

.price {
    margin: 14px 0;
}

.price del {
    color: #ccc;
    font-size: 14px;
}

.form-campo {
    margin-bottom: 16px;
}

.form-campo label {
    font-weight: bold;
    display: block;
}

.form-campo input,
.form-campo textarea {
    width: 100%;
    display: block;
    padding: 8px;
}

.form-campo textarea {
    resize: none;
    height: 100px;
}

form {
    max-width: 360px;
}

form button {
    max-width: 120px;
}

footer li {
    margin-left: 16px;
}

footer li img {
    height: 32px;
}

.error {
    color: #ff0000;
}
