* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Roboto, sans-serif;
}

body {
    width: 100%;
    background: linear-gradient(45deg, #00009f 25%, #8f83eb 75%);
}

header {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 8px;
    text-transform: capitalize;    
}

.titulo-principal {
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    font-style: italic;
}

form {
    width: 550px;
    height: 80px;
    margin: 0 auto;
    background-color: #c8d6e5;
    padding: 24px 0;
    text-align: center;
    border-radius: 5px;
}

input, button {
    padding: 8px;
    margin-right: 10px;
    text-transform: capitalize;
    border: none;
    border-radius: 5px;
}

input {
    width: 350px;
    color: #000;
    font-size: 18px;
    outline: none;
}

#btn-adicionar {
    background-color: #5ebb49;
    font-weight: bold;
    color: #223d1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#btn-cancelar {
    background-color: rgb(255, 166, 0);
    font-weight: bold;
    color: #223d1c;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

ul {
    width: 550px;
    margin: 10px auto;
    background-color: #c8d6e5;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    padding: 10px;
    overflow-y: auto;
}

ul li {
    background: #eee;
    color: #333;
    height: 40px;
    border-radius: 50px;
    margin: 10px 0;
    padding: 10px;
    position: relative;
}

ul .fa-check, .fa-trash {
    position: absolute;
    cursor: pointer;
}

ul .fa-check {
    right: 50px;
    color: #22790f;
}

ul .fa-trash {
    right: 15px;
    color: #ff0033;
}

ul .checked {
    background: rgb(144, 238, 144);
    text-decoration: line-through;
    transition: .2s;
}